@using Lab9_Barcan_Florin_George_921.Models;

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ViewGetAuthors</title>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        table {
            height: 100%;
            width: 100%;
        }

        th {
            background-color: darkgreen;
            text-align: center;
            vertical-align: middle;
        }

        tr:nth-child(even) {
            background-color: greenyellow;
        }

        tr:nth-child(2n+1) {
            background-color: palegreen;
        }

        td {
            text-align: center;
            vertical-align: middle;
        }

        input {
            float: right;
        }
    </style>
</head>
<body>
    <div>
        @{
            List<Author> authors = (List<Author>)ViewData["authorList"];
        }
        <table>
            <tr>
                <th>Author_ID</th>
                <th>Author_Name</th>
            </tr>
            @foreach (Author author in authors)
            {
            <tr>
                <td>@author.Author_ID</td>
                <td>@author.Author_Name</td>
                <td><a href="~/Main/AddRecipe?Recipe_Author_ID=@author.Author_ID">ADD A RECIPE</a></td>
                <td><a href="~/Main/EditAuthor?Author_ID=@author.Author_ID">EDIT</a></td>
                <td><a href="~/Main/DeleteAuthor?Author_ID=@author.Author_ID">DELETE</a></td>
                <td><a href="~/Main/AddAuthor?Author_ID=@author.Author_ID">ADD AN AUTHOR</a></td>
                <td><a href="~/Main/FilterRecipes?Recipe_Author_ID=@author.Author_ID">GET RECIPES</a></td>
            </tr>
            }
        </table>
    </div>
    <p><a href="~/Main/ViewGetRecipes">View list of recipes</a></p>
</body>
</html>